* {
    font-family: sans-serif;
    font-weight: 400;
    color: #444;
}

html {
    background-color: #F1F6FF;
}

body {
    padding: 2em 1em;
    max-width: 800px;
    margin: auto;
    background-color: #FFF;
    position: relative;
}

h4, h5, h6 {
    font-weight: 600;
}

h1, h2, h3 {
    font-weight: 800;
    line-height: 1.5em;
    border-bottom: 0.05em solid #CCC;
}

b {
    font-weight: 800;
}

p {
    margin: 0;
}

article {
    margin: 1em 0;
    line-height: 1.5em;
}

section {
    margin: 0.8em 0;
}

article.narrow, section.narrow  {
    padding: 0 1em;
}

a {
    color: #06D;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img.profile {
    border-radius: 50%;
    height: 10em;
    width: 10em;
    position: absolute;
    right: 1em;
    top: 1.3em;
    border: 0.05em solid #CCC;
}