* {
    font-family: sans-serif;
    font-weight: 400;
}

html {
    background-color: #F6F6F6;
    font-size: 14px;
}

body {
    padding: 2em 1em;
    max-width: 800px;
    margin: auto;
    background-color: #FFF;
    position: relative;
}

h4, h5, h6 {
    font-weight: 600;
    color: #000;
}

h1, h2, h3 {
    font-weight: 800;
    color: #000;
    line-height: 1.5em;
    border-bottom: 0.05em solid #F1F1F1;
}

b {
    font-weight: 800;
    color: #000;
}

i {
    color: #000;
}

p {
    margin: 0.3em 0;
    color: #444;
}

article {
    margin: 1em 0;
    line-height: 1.5em;
}

section {
    margin: 0.8em 0;
}

article.narrow, section.narrow  {
    padding: 0 1em;
}

a {
    color: #06D;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img.profile {
    border-radius: 50%;
    height: 10em;
    width: 10em;
    position: absolute;
    right: 1em;
    top: 1.3em;
    border: 0.05em solid #EEE;
}

section.points {
    padding: 0 1em;
    background-image: radial-gradient(#F1F1F1 0.8em, transparent 0);
    background-size: 2em 2em;
    background-position: 0.1em -0.18em;
    background-repeat: no-repeat;
    position: relative;
}

section.points > p {
    border-left: 0.2em solid #F1F1F1;
    margin: 0;
    padding: 0.2em 1em;
}

section.points > img {
    position: absolute;
    width: 1em;
    top: 0.3em;
    left: 0.6em;
}

ul.chips, ul.cards {
    list-style: none;
    display: inline-block;
    padding: 0 1em;
    margin: 0;
    position: relative;
}

ul.chips > li {
    float: left;
    padding: 0.25em 0.5em;
    margin: 0 0.5em 0.5em 0;
    border: 0.1em solid #EEE;
    border-radius: 1em;
    font-size: 0.8em;
}

ul.cards > li {
    border: 0.15em solid #EEE;
    border-radius: 0.5em;
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
}

ul.cards > li > img {
    width: 1em;
    height: 1em;
}

ul.cards > li > p:first-of-type {
    position: absolute;
    top: 0.7em;
    left: 2.5em;
}

ul.cards > li > p:first-of-type > a:last-of-type:not(:first-of-type) {
    color: #666;
    border: #CCC solid 0.1em;
    border-radius: 1em;
    padding: 0.1em 0.5em;
    font-size: 0.8em;
}

ul.cards > li > p:first-of-type > a:last-of-type:not(:first-of-type):hover {
    text-decoration: none;
    background-color: #EEE;
    color: #333;
    border-color: #DDD;
}

ul.cards > li > p:last-of-type:not(:first-of-type) {
    position: absolute;
    font-size: 0.8em;
    color: #999;
    bottom: 0;
}

ul.cards > li > p:last-of-type:not(:first-of-type) > span {
    padding: 0.2em 1em 0.2em 2em;
    background-repeat: no-repeat;
    background-position: 0 -0.3em;
    background-size: 2em 2em;
    background-image: radial-gradient(#EEE 0.5em, transparent 0);
}

ul.cards > li > p:not(:first-of-type):not(:last-of-type) {
    font-size: 0.9em;
    padding: 0 0 1em 1.6em;
    color: #777;
}

.java-dot {
    background-image: radial-gradient(#1BB 0.5em, transparent 0) !important;
}

.php-dot {
    background-image: radial-gradient(#77B 0.5em, transparent 0) !important;
}

.js-dot {
    background-image: radial-gradient(#FD4 0.5em, transparent 0) !important;
}

.css-dot {
    background-image: radial-gradient(#36E 0.5em, transparent 0) !important;
}

.py-dot {
    background-image: radial-gradient(#5A3 0.5em, transparent 0) !important;
}